<%- include("partials/header") %>
<h1>This is the landing page</h1>
<h3>Welcome to my website</h3>

<p>Welcome to Yelpcamp</p>

<a href="/campgrounds">Click to views campgrounds</a>

<%- include("partials/footer") %>